
html
  head
    script(src='action.js')
    link(rel='stylesheet', type='text/css', href='style.css')
    title GROUP 5
  body(bgcolor='black')
    .grid-container-top
      .item2
        //img(src='concert.png', alt='concert')
    .grid-container
      .item3
        center
          h1
            font(color='yellow')
              | MUSIC PLANET
              font
        font(color='yellow')
          font
            center
              p
                font(color='yellow')
                  | MusicPlanet  is a Song Database based in Seattle WA