
html
  head
    script(src='action.js')
    link(rel='stylesheet', type='text/css', href='style.css')
    title GROUP 5
  body(bgcolor='black')
    .grid-container-top
      .item2
       // img(src='concert.png', alt='concert')
    .grid-container
      .item3
        center
          h1
            font(color='yellow')
              | MUSIC PLANET
              font
        font(color='yellow')
          font
            center
              h4
                font(color='yellow')
                  | a Group 5 Company
                  font
              center
                font(color='yellow')
                  font
      font(color='yellow')
        font
          font(color='yellow')
            font
    font(color='yellow')
      font
        font(color='yellow')
          font
            .grid-container-two
              .item4
                h2
                center
                 a(class='button' href='add' color='yellow')  ADD
                  center
              .item5
                center
                  a(class='button' href='view') VIEW
            .grid-container-three
              .item6
                center
                 a(class='button' href='edit') EDIT
              .item7
                center
                  a(class='button' href='delete') DELETE 
